body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #1f2937;
    color: #f9faf8;
}

header {
    margin: 0;
    padding: 16px;
}

footer {
    margin: 16px 0 0 0;
    padding: 16px;
    text-align: center;
}

.logo {
    justify-content: left;
    font-weight: bold;
    margin: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 8px;
}

.image img {
    width: 600px;
    height: auto;
}

.left {
    max-width: 500px;
}

.left p {
    padding: 16px 0;
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px;
}

.header button {
    background-color: #3882f6;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 16px;
    border: 0px;
    font-size: 1.1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    max-width: 250px;
    max-height: auto;
    border-radius: 15px;
    border: 3px solid #3882f6;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote,
.quote footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    background-color: #e5e7eb;
    justify-content: center;
}

header a, 
.left li, 
.left {
    color: #e5e7eb;
}

blockquote p{
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

blockquote footer {
    text-align: right;
    color: black;
}

.left h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    text-align: left;
}

.signup {
    margin: 32px auto;
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    width: 900px;
    padding: 16px;
    border-radius: 15px;
    flex: 0 0 1;
    align-items: center;
}

.signtext {
    padding: 16px;
    justify-self: left;
}

.signup button {
    padding: 16px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 15px;
}

h3 {
    font-weight: 800;
    font-size: larger;
}
