body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(140, 142, 161);
    margin: 0;
    padding: 0;

}

.logo {
    justify-content: left;
    font-weight: bold;
    margin: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    padding: 8px;
}

.image img {
    width: 600px;
    height: auto;
}

.left {
    max-width: 600px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px;
}

.header button {
    background-color: rgb(53, 73, 189);
    color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 16px;
    border: 0px;
    font-size: 1.1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    max-width: 250px;
    max-height: auto;

}

h1 {
    text-align: center;
}

.quote {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    background-color: rgb(140, 142, 161);
    justify-content: center;
}



blockquote p{
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

blockquote footer {
    text-align: right;
}
